*{
    margin: 0;
    padding: 0;
}
.cont{
    max-width: 1200px;
    margin: 0 auto;
}
.f-c{
    display: flex;
    flex-direction: column;
}
.f-r{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.app-header{
    background-color: lightgreen;
}
.title-block{
    margin: 25px 0;
    font-size: 32px;
}
.app-main{
    height: 750px;
}